body {
  margin: 0;
  font-family: 'Roboto Slab', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: #232323; // dark mode background color
  color: #fefefe; // changing to the white color for better readability against dark background.
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #f4f9f9; // lighter color for better readability against dark mode
}

// Primary button with new dark mode colors

.primary-button {
  background-color: #17b978; // primary green color
  color: #fefefe; // white text
  &:hover {
    background-color: darken(#17b978, 10%);
  }
}

// Secondary button with new dark mode colors

.secondary-button {
  background-color: #086972; // secondary dark green color
  color: #fefefe;  // white text
  &:hover {
    background-color: darken(#086972, 10%);
  }
}